footer{
	position: relative;
	height: calc(100vh - #{$header-height});
	padding: 0 $colored-bar-size 10vh;
	.left-col, .right-col{
		width: 50%;
		position: absolute;
		height: 100%;
		z-index: -1;
	}
	.left-col{
		left: 0;
		top: 0;
		background-image: linear-gradient(to bottom, transparent 70%, $primary-color 30%);
	}
	.right-col{
		left: 50%;
		top: 0;
	}
	.container{
		height: 100%;
		background-color: $secondary-color;
		padding: 3em 10vw 5em;
		& > div{
			width: 50%;
		}
		a{
			display: inline-block;
			color: #FFF;
			text-decoration: none;
			transition: $default-transition;

			&:hover{
				color: $primary-color;
			}
		}
		.inner-left-col{
			ul{
				list-style: none;
				margin-left: 0;
				margin-bottom: auto;
				font-size: 2em;
				line-height: 1.5em;
			}
			.contact-info{
				margin-bottom: 2em;
				& > p{
					margin-bottom: 0;
				}
				.ph-num{
					font-size: 2em;
					margin-bottom: 1rem;
				}
			}
			.social-links{
				a{
					display: flex;
					padding: .5rem;
					&:hover{
						background-color: $primary-color;
					}
					img{
						margin-bottom: 0;
					}
				}
				& > a:nth-child(2){
					margin: 0 1em;
				}
			}
		}
		.inner-right-col{
			& > p{
				font-size: 3em;
				line-height: 1em;
				margin-bottom: 2rem;
			}
			form{
				display: flex;
			}
			.gravityform{
				display: flex;
				flex-wrap: wrap;
				align-items: space-between;
				justify-content: space-between;
				.gravityform__field{
					display: flex;
					flex-direction: column;

					label{
						padding-left: 1em;
						margin-bottom: .5em;
						font-family: $secondary-font;
					}
					input, .gravityform__field__input__textarea{
						color: #FFF;
						font-family: $secondary-font;
						font-size: 1rem;
						padding-left: 1em;
						border: none;
						border-radius: 4px;
						background-color: $off-secondary-color;
						margin-bottom: 1em;
						min-height: 60px;

						&:focus{
							border: 1px solid $primary-color;
						}
					}
					.gravityform__field__input__textarea{
						min-height: 100px;
					}
				}
				.gravityform__field__text, .gravityform__field__email{
					width: 48%;
				}
				.gravityform__field__textarea, .gravityform__field__checkbox{
					width: 100%;
				}
				button{
					cursor: pointer;
					font-weight: bold;
					font-family: $secondary-font;
					padding: .5em 3em;
					background-color: $primary-color;
					border: none;
					color: #FFF;
					margin-left: auto;
					transition: $default-transition;
					&:hover{
						background-color: $off-primary-color;
					}
				}
			}
		}
	}
}
