.Program{
	&.isLast{
		.top-row{
			flex-wrap: wrap;
			p.h1{
				margin: 1em 0;
				line-height: 1em;
				font-size: 5em;
				width: 100%;
			}
			.col-50:nth-child(2){
				.image{
					position: relative;
					&::after{
						content: "";
						height: 100%;
						width: $colored-bar-size;
						position: absolute;
						left: -$colored-bar-size;
						top: $colored-bar-size;
						background-color: $secondary-color;
					}
				}
			}
		}
		.ImageSpacer{
			.col-50:nth-child(2){
				.bg-img{
					position: relative;
					&::after{
						content: "";
						height: $colored-bar-size;
						width: $colored-bar-size;
						position: absolute;
						top: 100%;
						right: 0;
						background-color: $primary-color;
					}
				}
			}
		}
	}
	.top-row{
		padding: $colored-bar-size;
		padding-top: 1em;
		.col-50{
			min-height: 80vh;
			&:last-child{
				padding-left: 3vw;
			}
			.image{
				min-height: 80vh;
			}
		}
	}
	.bottom-row{
		.col-50{
			&:first-child{
				padding: 0 $colored-bar-size 0 calc(#{$colored-bar-size} + 2em);

				& > div{
					font-size: 1.3em;
					line-height: 1.3em;
				}
			}
			.image{
				min-height: 60vh;
			}
		}
	}
	.col-50{
		&:first-child{
			.image{
				position: relative;
				&::after{
					content: "";
					height: 100%;
					width: $colored-bar-size;
					position: absolute;
					left: -$colored-bar-size;
					top: $colored-bar-size;
					background-color: $secondary-color;
				}
			}
		}
		&:last-child{
			.image{
				position: relative;
				&::after{
					content: "";
					height: $colored-bar-size;
					width: 100%;
					position: absolute;
					right: 0;
					top: -$colored-bar-size;
					background-color: $primary-color;
				}
			}
			.copy{
				& > div {
					font-size: 1.3em;
					line-height: 1.3em;
				}
			}
		}
		.what-to-expect, .how-it-works{
			font-size: 2rem;
			margin-bottom: 2em;
		}
		.side-text{
			text-align: center;
		}
	}
}

.ImageSpacer{
	padding: 0 $colored-bar-size;
	flex-wrap: wrap;

	.col-100{
		width: 100%;
		.Button{
			height: $scroll-button-width;
			width: $scroll-button-width;
			background-color: $secondary-color;
			background-image: url('');
			background-position: center center;
			background-size: 25% auto;
			background-repeat: no-repeat;
			position: relative;
			transition: $default-transition;
			overflow: hidden;

			&::after{
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: $off-secondary-color;
				transition: $default-transition;
				cursor: pointer;
			}
			&:hover::after{
				width: 150%;
				height: 150%;
			}

			a{
				z-index: 1;
				position: relative;
				height: 100%;
				width: 100%;

				img{
					margin-bottom: 0;
				}
			}
		}
		& > p{
			margin-left: .5em;
			margin-bottom: 0;
			font-size: 3em;
			line-height: 1em;
		}
	}
	.col-50:nth-child(2){
		.bg-img{
			min-height: 60vh;
		}
	}
	.col-50:last-child{
		position: relative;
		&::after{
			content: "";
			position: absolute;
			right: -$colored-bar-size;
			top: 0;
			background-color: $primary-color;
			height: 100%;
			width: $colored-bar-size;
		}
		.bg-img{
			min-height: calc(60vh + #{$colored-bar-size});
		}
	}
}
