.SproutDonors{
	.donor-container{
		padding-left: 5%;
		padding-right: 3vw;
		.side-text{
			margin-right: 0;
		}
		.heading{
			font-size: 2.2rem;
			margin-bottom: 3em;
		}
		ul{
			list-style: none;
			font-size: 1.8em;
			line-height: 1.4em;
			padding-right: 3em;

			li{
				margin-bottom: 1em;
			}
		}
	}
	.image-col{
		height: 100%;

		.image-container{
			height: calc(100vh - #{$header-height});
			position: relative;
		}
	}
}
